/*importa fonte do google fonts*/

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rock+Salt&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Header*/

.main-header {
    background-image: url(background-image.png);/*Adiciona imagem no fundo*/
    background-position: 50% 39%;/*Alinha os elementos nos eixos x e y*/
    display: flex;/*colocar elementos centralizados*/
    flex-direction: column;/*alinha os elementos um embaixo do outro*/
    align-items: center;/*centralizar os elementos*/
}

.main-nav {
    width: 100%;/*Ocupar toda area disponivel*/

}

.header-list-container {
display: flex;/*Colocar os elementos na mesma linha*/
justify-content: space-between;/*adiciona espaçamento entre os intens*/
align-items: center;/*garatir que fiquem alinhados na mesma linha*/
padding:16px 0;/*primeiro é cima e baixo ,segundo é esquerda e direita*/
}

.nav-item {
    list-style-type: none;/*remove as bolinhas padrao dos elementos li*/
    text-transform: uppercase;/*deixar todos as letras em maiusculo*/
    color: #00008b;
}

hr {
    width: 100%;/*Ocupar toda area disponivel*/
}

.nav-item a {
    text-decoration: none;/*remove o urderline do ancoa */
    color: inherit;/*herda a cor do elemento pai(neste caso é o nav-item)*/
}

.nav-item:hover {
    color:rgba(0,0,139,0.7);/*quando passar o mouse trocar a cor/rgba passa a cor e no final*/
    transition: 0.2s;
}

.main-about {
    padding: 40px 0 64px;
}

.container {
    max-width: 600px;/*trava a largura maxima que definimos para o projeto*/
    padding: 0 16px;/*primeiro cima/baixo,segundo esquerda/direita*/
    margin: 0 auto;/*nao plica cima/baixo,o auto distibui o maximo possivel para esquerda e direita*/
}

.about-title {
font-family: "Raleway, sans-serif";/*pega afonte importada, caso ele nao encontre utilizada a sans-serif*/
font-size: 32px;/*tamanho da fonte*/
text-align: center;
text-transform: uppercase;
margin-bottom: 24px;
}

.about-image {
    float: left;/*alinha a imagem esquerda e texto a direita*/
    margin: 0 20px 10px 0;/*0 topo,20 direita,10 baixo 0 esquerda*/
    width: 200px;
    height: auto;
}