/*importa fonte do google fonts*/

@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rock+Salt&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font:400 22px "Roboto",sans-serif;
}

li {
    list-style-type: none;
}
/*criação de variedades no root do css*/
:root {
    --blue:#00008B;
    --gray:#555555;
    --skyblue:#00bfff;
    --silver:#c0c0c0;
    --red:#ff0000;
    --white:#ffffff;
    --dargray:#959595;
}

/*Header*/

.main-header {
    background-image: url(background-image.png);/*Adiciona imagem no fundo*/
    background-position: 50% 39%;/*Alinha os elementos nos eixos x e y*/
    display: flex;/*colocar elementos centralizados*/
    flex-direction: column;/*alinha os elementos um embaixo do outro*/
    align-items: center;/*centralizar os elementos*/
}

.main-nav {
    width: 100%;/*Ocupar toda area disponivel*/

}

.header-list-container {
display: flex;/*Colocar os elementos na mesma linha*/
justify-content: space-between;/*Adiciona espaçamento entre os intens*/
align-items: center;/*Garatir que fiquem alinhados na mesma linha*/
padding:16px 0;/*Primeiro é cima e baixo ,segundo é esquerda e direita*/
}

.nav-item {
    text-transform: uppercase;/*Deixar todos as letras em maiusculo*/
    color: nav(-blue);
}

hr {
    width: 100%;/*Ocupar toda area disponivel*/
}

.nav-item a {
    text-decoration: none;/*Remove o urderline do ancoa */
    color: inherit;/*Herda a cor do elemento pai(neste caso é o nav-item)*/
}

.nav-item:hover {
    color:rgba(0,0,139,0.7);/*Quando passar o mouse trocar a cor/rgba passa a cor e no final*/
    transition: 0.2s;
}

.main-about {
    padding: 40px 0 64px;
}

.container {
    max-width: 600px;/*Trava a largura maxima que definimos para o projeto*/
    padding: 0 16px;/*Primeiro cima/baixo,segundo esquerda/direita*/
    margin: 0 auto;/*Nao plica cima/baixo,o auto distibui o maximo possivel para esquerda e direita*/
}

.title-median {
font-family: "Raleway, sans-serif";/*Pega afonte importada, caso ele nao encontre utilizada a sans-serif*/
font-size: 32px;/*Tamanho da fonte*/
text-align: center;
text-transform: uppercase;
margin-bottom: 24px;
}

.about-image {
    float: left;/*Alinha a imagem esquerda e texto a direita*/
    margin: 0 20px 10px 0;/*0 topo,20 direita,10 baixo 0 esquerda*/
    /*Diminuir o tamanho da imagem*/
    width: 200px;/*Largura*/
    height: auto;/*Evita a distraçao da imagem*/
}

.about-description {
    color: var(--gray);/*Utiliza variavel de cor criado no root*/
    text-align: justify;/*Justifica o texto*/
}

/*Footer*/

.main-footer {
    background-color: var(--skyblue);/*Aplicar cor no fundo do rodape*/
    padding: 15px 0;/*Aplica espacamento cima/baixo e nada esquerda/direita*/
}

.footer-container {
    display: flex;/*Deixar tudo na mesma linha*/
    align-items: center;/*Alinha todos os elementos*/
    justify-content: space-between;/*Colar nome de um lado e lista de icones do outro*/
}

.title-smaller {
    font-family: "Raleway",sans-serif;/*Pegar a fonte importada*/
    color: var(--blue);/*Aplicar cor com a variavel criada no root do css*/
    font-size: 26px;/*Aumenta o tamanho da fonte*/
}

.footer-item {
    width: 50px;
    height: 50px;
    padding: 15px 0;/*Aplica espaçamento 15px cima/baixo e 0px esquerda/direita*/
}

.footer-item + .footer-item {
    margin-left: 16px;/*Aplica na mesma class seguido em diante,ate chega*/
}

/*contato*/
.contact-text {
text-align: center;/*Centralizar o texto*/
margin-bottom: 30px;/*Separa o paragrafo do formulario*/
font-size: 28px;/*altera o tamanho da fonte*/
color: var(--gray);
}

.contact {
    background-color: var(--skyblue);/*Cor do fundo do formulario*/
    padding: 30px;/*Espaçamento*/
    max-width: 600px;/*tamanho definido para o projeto*/
    margin-right: auto;/*Empurra para direita*/
    margin-left: auto;/*Empurra para esquerda*/
    margin-bottom: 20px;/*Espaçamento para baixo*/
}

.contact-label {
    display: block;/*Coloca os elementos um em cima do outro */
    margin-bottom: 20px;/*espacamento para baixo*/
    color: var(--blue);/*Altera a cor da fonte*/
}

.contact-field {
    display: block;/*Coloca os elementos um em cima do outro*/
    width: 100%;/*ocupa o espaço maximo disponivel*/
    height: 30px;/*Aumenta a altura do campo*/
    font-size: 16px;/*Altera o tamnho da fonte*/
    padding-left: 10px;/*Empurra o elemento dentro do campo para esquerda*/
    border: none;/*remove a borda*/
}

.contact-field:focus {/*troca acor do fundo do formulario ao clicar*/
    background-color: var(--silver);/*Cor do fundo*/
    outline: none;/*remove a linha interna do campo do formulario*/
}

textarea.contact-field {
    height: 150px;/*Altera a altura do campo*/
    padding: 10px;/*dar espaçamento em todas as direçoes*/
    font-family: "Roboto", calibri;/*utiliza fonte importada,caso não encontra*/
}

.button-form {
background-color: var(--blue);/*Cor do fundo do botao*/
color: var(--white);/*cor da fonte do botao*/
border: 2px solid var(--blue);/*Adiciona */
border-radius: 10px;/**/
padding: 2px 6px;/**/
font-weight: bold;/**/
cursor:pointer ;
}
.button-form:hover {
    background-color: var(--white);/*Cor do fundo do botao*/
    color: var(--white);/*cor da fonte do botao*/
}

.contact-maps {
    width: 600px;/**/
    margin-right: auto;/**/
    margin-left: auto;/**/
    padding-bottom: 20px;/**/
}

/*Index*/

.title-header {
font-family: "Madimi One", cursive;/*Utilizar a fonte importada,caso não encontre pega a fonte secudaria*/
color: var(--blue);/*Troca a cor da fonte*/
font-size: 38px;/*Aumenta o tamanho da fonte*/
padding-bottom: 10px;/*Cria espaçamento em baixo*/
}

.title-large {
    font-family: "Rock Salt", cursive;/*Utilizar a fonte importada,caso não encontre pega a fonte secudaria*/
    font-size: 38px;/*Tamanho da fonte*/
    color: var(--blue);/*Cor da fonte*/
    text-align: center;/*Cetralizar o texto*/
}

.description {
    text-align: center;/*Cetralizar o texto*/
    color: var(--gray);/*Cor da fonte*/
    padding-bottom: 10px;/*Cria espaçamento*/
}
 
.emphasis {
    background-color: var(--skyblue);
    color: var(--blue);
    border-radius: 25px;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
}